/* This will be removed before officially ready for release. */
.preview-tip {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 10px;
    font-size: small;
    color: rgb(207, 207, 207);
    border-end-end-radius: 5px;
}

.preview-tip p {
    margin: 0;
    padding: 0;
}


/* ----- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    overflow: hidden;
    background-color: black;
    user-select: none;
}

#background-layer-1,
#background-layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

#background-layer-1 {
    opacity: 1; /* Start with layer 1 visible */
}

#img_author {
    font-weight: bold;
    color: white;
}

kbd {
    background-color: rgb(31, 30, 30);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 3px;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    background-color: black;
}

#server-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 100px;
    height: auto;
    opacity: 0.75;
}

.bottom-bar {
    position: fixed;
    bottom: 0; /* Align to the bottom of the screen */
    left: 50%; /* Start from the horizontal center */
    transform: translateX(-50%); /* Adjust to center the element */
    width: 100%; /* Span the entire width of the screen */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.856) 10%, transparent 90%);
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 0; /* Remove border radius for full-width */
    text-align: left; /* Ensure text is centered */
}

#tip-text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin: 15px;
}

@media (max-width: 768px) {
    #server-logo {
        max-width: 140px;
    }
    #tip-text {
        font-size: 1rem;
    }
}